[user]
  name = YamaCIR-KIT
  email = httperror@404-notfound.jp

[alias]
  graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative

  # mkbr = checkout -b

  # rmbr = "!func() {\
  #           git branch -d "$1" && git push origin :"$1";\
  #         }; func"

  # rmbr = branch -d

  stage = add
  unstage = reset -q HEAD --

  commit = commit -v
  uncommit = reset --hard HEAD^

  merge = merge --no-ff --

[core]
  editor = vi
  quotepath = false

[color]
  ui = auto

[merge]
  ff = false

[push]
  default = simple

[pull]
  rebase = true
