[user]
  name = YamaCIR-KIT
  email = httperror@404-notfound.jp

[alias]
  graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  mkbr = checkout -b --
  rmbr = branch --delete --

  stage = add
  unstage = reset -q HEAD --

# editing
  discard = checkout --

# commit
  uncommit = reset --mixed HEAD~

  merge = merge --no-ff --

[core]
  editor = vi
  quotepath = false

[color]
  ui = auto

[merge]
  ff = false

[push]
  default = simple

[pull]
  rebase = true
