[user]
  name = YamaCIR-KIT
  email = httperror@404-notfound.jp

[alias]
  ch = checkout
[core]
  editor = vi
[color]
  ui = auto
[merge]
  ff = false
[push]
  default = simple
[pull]
  rebase = true
