on:
  push:
  schedule:
    - cron: 0 0 * * *
jobs:
  Setup:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: ./install.sh
      - run: sudo apt update
      - run: ./scripts/setup-${{ matrix.os }}.sh
      - run: ./scripts/setup-vim.sh
      - run: ./uninstall.sh
